<li>
	{{burger_name}}
	<!-- TO BE DELETED -->
	<button class="change-devour" data-id="{{id}}" data-newsleep="{{devour}}">
		{{#if devour}}DEVOURED!{{else}}TO BE DEVOURED!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
